{% extends "layouts/columns-double.html" %}

{% set headtitle = "Archives | " ~ SITENAME %}

{% set color_main  = 'cyan' %}
{% set color_aside = 'purple' %}

{% block blog_header %}
  <div class="main_title"> 
     <h2 class="title is-4" itemprop="name headline">
       All Archives</h2>
  </div>
{% endblock %}

{% block blog_body %}
  {% include 'index/by-year-month.html' %}
{% endblock %}

{% block widget_header %}
  <strong>Side Menu</strong>
  <span class="fas fa-fingerprint is-pulled-right"></span>
{% endblock %}

{% block widget_body %}
  This is an all archives kind layout.
{% endblock %}
