{% extends "base.html" %}

{% block content %}
  {% block content_title %}
    <h1>Blog Posts</h1>

    <strong>To have, to hold, to love,
    cherish, honor, and protect?</strong>
  {% endblock %} 

  <dl>
  {% for article in articles_page.object_list %}    
    <dt><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" 
           title="Permalink to {{ article.title|striptags }}"
          >{{ article.title }}</a></dt>
    <dd>{{ article.summary }}</dd>
    <br/>
  {% endfor %}
  </dl>

{% endblock %}
